{% extends 'base.html.twig' %}

{% block title %}About {{ name }}{% endblock %}

{% block page_content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony3, {{ name }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

