{% extends 'adminlte.base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block page_title %}Horarios{% endblock %}

{% block page_subtitle %}Elige tu clase{% endblock %}


{% block page_content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">

okkkkkk

            </div>
        </div>
    </div>
{% endblock %}
