{% extends 'adminlte.base.html.twig' %}

{% block avanzu_page_title %}Programa{% endblock %}
{% block avanzu_page_subtitle %}{{ program.title }}{% endblock %}

{% block avanzu_page_content %}
    <div>
        {{ program.title }}
    </div>
{% endblock %}
